extends layout

block content

	div(id="containerdata1")
		div(id="hours1")
		div(id="containerdata3",class='column')

	//- div(id="containerdata2")
	//- 	div(id="containerdata4")

	//- div(id="container")
	//- 	h1 Fotografo 1
	//- 	form(id="todo-form")
	//- 		input(id="todo", type="text")
	//- 		input(id="submit", type="submit", value="Adicionar")
	//- 	ul(id="show-items")
	//- 	a(href="#", id="clear-all")

	//- div(id="container")
	//- 	h1 Fotografo 2
	//- 	form(id="todo-form2")
	//- 		input(id="todo2", type="text")
	//- 		input(id="submit2", type="submit", value="Adicionar")
	//- 	ul(id="show-items2")
	//- 	a(href="#", id="clear-all2")